@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

// couleurs Variables
$firstBoxColor: hsl(31, 77%, 52%);
$secondBoxColor: hsl(184, 100%, 22%);
$thirdBoxColor: hsl(179, 100%, 13%);
$mainColor: hsl(0, 0%, 95%);



* { margin: 0; }

body {
    font-size: 0.9em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    background-color: $mainColor;

    min-height: 100vh;
    display: grid;
    place-content: center;
}

.box {

    min-height: 450px;
    display: flex;
    border-radius: 10px;
    @media screen and (max-width: 42rem) {
        flex-direction: column;
    }
    @media screen and (max-width: 64rem) {
        min-width: 100%;
        border-radius: 0;
    }
    @media screen and (min-width: 64rem) {
        max-width: 900px;
        flex-direction: row;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px 50px;
        gap: 2rem;

        @media screen and (42rem < width < 64rem) {
            min-height: 100vh;
        }

        &__title {
            font-family: "Big Shoulders Display", sans-serif;
            font-weight: 700;
            color: $mainColor;
            text-transform: uppercase;
        }
        &__content {
            color: hsla(0, 0%, 100%, 0.75);
        }
        &__link {
            width: 100px;
            padding: 10px;

            text-align: center;
            text-decoration: none;

            border-radius: 30px;
            background-color: $mainColor;
        }

        &__image {
            animation-name: speed;
            animation-duration: 2000ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: backwards;
        }

    }
}

.one {
    background-color: $firstBoxColor;

    a { color: $firstBoxColor; }
    a:hover {
        color: $mainColor;
        border: 2px solid $mainColor;
        background-color: $firstBoxColor;
    }

    @media screen and (max-width: 64rem) {
        border-radius: 0;
    }
    @media screen and (min-width: 64rem) {
        border-radius: 10px 0 0 10px;
    }
}
.two {
    background-color: $secondBoxColor;
    a { color: $secondBoxColor; }
    a:hover {
        color: $mainColor;
        border: 2px solid $mainColor;
        background-color: $secondBoxColor;
    }
}
.three {
    background-color: $thirdBoxColor;

    a { color:$thirdBoxColor; }
    a:hover {
        color: $mainColor;
        border: 2px solid $mainColor;
        background-color: $thirdBoxColor;
    }

    @media screen and (max-width: 64rem) {
        border-radius: 0;
    }
    @media screen and (min-width: 64rem) {
        border-radius: 0 10px 10px 0;
    }
}

.attribution { font-size: 11px; text-align: center; a { color: hsl(228, 45%, 44%); } }

@keyframes speed {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(180px);
    }
}